body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-panel {
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.add_button,
.table .edit_button,
.table .delete_button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.add_button {
    color: white;
    background-color: #03dd03;
}

.table .edit_button {
    color: white;
    background-color: blue;
}

.table .delete_button {
    color: white;
    background-color: red;
}

.add_button:hover {
    background-color: #028002;
}

.table .edit_button:hover {
    background-color: #020a72; /* Darker color for edit button */
}

.table .delete_button:hover {
    background-color: #700f04; /* Darker color for delete button */
}

